body{
    background-color: antiquewhite;
}
.all{
    background-color: antiquewhite;
    height: 500px;
    width: 1085px;
    margin-top: 36px;
    margin-left: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.a{
    background-color: rgb(106, 159, 186);
    height: 230px;
    width: 490px;
    box-shadow: 2px 2px 7px 5px;
}
.b{
    background-color: rgb(86, 209, 199);
    height: 230px;
    width: 490px;
    box-shadow: 2px 2px 7px 5px;

}
.c{
    background-color: rgb(129, 88, 148);
    height: 230px;
    width: 490px;
    box-shadow: 2px 2px 7px 5px;

}
.d{
    background-color: rgb(189, 143, 99);
    height: 230px;
    width: 490px;
    box-shadow: 2px 2px 7px 5px;

}
.x{
    background-color: white;
    height: 200px;
    width: 440px;
    margin-top: 14PX;
    margin-left: 24PX;
}
.y{
    background-color: white;
    height: 200px;
    width: 440px;
    margin-top: 14PX;
    margin-left: 24PX;
}
.z{
    background-image: url(https://img.freepik.com/free-vector/white-nature-leaves-minimal-backgroud_1017-37229.jpg?size=626&ext=jpg);
    height: 200px;
    width: 440px;
    margin-top: 14pX;
    margin-left: 24PX;
}
.v{
    background-color: white;
    height: 200px;
    width: 440px;
    margin-top: 14PX;
    margin-left: 24PX;
}
.nav{
    height: 20%;
    width: 45%;
    background-color: white;
    margin-left: 242px;
}
ul{
    list-style-type: none;
    border-radius: 2px;
    display: flex;
}
ul li{
    color: black;
    padding: 2px;
}
li{
    border: 1;
    background-color: antiquewhite;

}
.ul li:hover{
    background: blue;
}
.l1{
    height: 60px;
    width: 50%;
    background-color: brown;
}
.r1{
    height: 60%;
    width: 50%;
    background-color: rgb(85, 134, 114);
}
.two{
    background-color: aqua;
    height: 30px;
    width: 30px;
}
h1{
    margin: 0;
}
.img{
    height: 179px;
    width: 198px;
    margin-top: -143px;
    margin-left: 242px;
}